@import '../../../sassStyles/';


.Home {
    @include page-layout(0, 100%, calc(100vh - 130px));
    @include title($primary-color, 80px, 30px, 35px);
    @include buttons(20px, 5px);

    .welcome-message {
        width: 90%;
        margin: auto;
    }

    background-image:
        linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        url('../../../../public/spices.jpg');
    background-position: 51.3% 0;
    background-repeat: no-repeat;
}