@import '../../../index.scss';

.NewRecipe {
    @include page-layout(115px, 45%, auto);
    @include buttons(20px, 10px);
    @include title($primary-color, 0, 30px, 40px);
    @include error-message(5px 0);

    .page-title {
        font-family: $font-title;
        text-align: center;
    }

    form {
        border: 1px solid $primary-color;
        border-radius: 10px;
        padding: 10px 20px 10px 20px;
    }

    .title-section {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .title-section div {
        width: 49%;
        display: flex;
        flex-direction: column;
    }

    .title {
        margin-right: 5px;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid $primary-color;
        border-radius: 5px;
        resize: none;
        font-family: Verdana;
        font-size: 14px;
    }

    input:focus,
    textarea:focus {
        border: 2px solid $primary-color;
        background-color: $input-focus-background;
        outline: none;
        box-shadow: none;
    }

    .instructions textarea {
        height: 200px;
        overflow: hidden;
    }

    label {
        padding: 10px;
        display: inline-block;
    }
}