@import '../../../../index.scss';

.EditAccount {
    @include page-layout(115px, 35%, auto);
    @include flex-column();
    @include title($primary-color, 0px, 20px, 40px);
    @include buttons(20px, 10px);
    @include error-message(0 0 10px 0px);
    @include form();

    background-color: $confirmation-modal-background;
    padding: 50px 0px 30px 0px;
    border-radius: 20px;
    box-shadow: $card-shadow;

    .cooking-hat {
        width: 100px;    
    }

    .change-password-link {
        display: block;
        padding: 17px 5px;
    }
}