/* Box Sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Fonts */
$font-title: 'Merienda';
$font-body-text: Verdana;

/* Colors */
$primary-color: #4a6b8b;
$secondary-color: lightgray;
$disabled-btn-background: #4a6a8b8c;
$input-focus-background: #4a6a8b2d;
$delete-btn-color: #EF5E5E;
$success-color: green;
$error-color: red;

/* Shadows */
$button-shadow: 0 0 8px 0 gray;
$card-shadow: 2px 2px 20px 0 gray;

/* Text Font & Color */
html,
a,
input {
  font-family: $font-body-text;
  color: $primary-color;
}

/* Selection */
*::selection {
  color: $secondary-color;
  background-color: $primary-color;
}

/* Block Elements Margin */
body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

h1,
h2 {
  font-weight: 400;
}

@mixin pageLayout($margin-tb, $width) {
  margin: $margin-tb auto;
  width: $width;
  height: auto;
}

@mixin title($color, $padding-t, $padding-b) {
  .title {
    font-family: $font-title;
    font-size: 40px;
    color: $color;
    text-align: center;
    padding-top: $padding-t;
    padding-bottom: $padding-b;
  }
}

/* Buttons */
@mixin buttons($margin-tb, $margin-lr) {
  .buttons {
    display: flex;
    justify-content: center;
  }

  @include button($margin-tb, $margin-lr);
}

@mixin button($margin-tb, $margin-lr) {
  .button {
    text-decoration: none;
    font-family: $font-body-text;
    font-size: 20px;
    background-color: $primary-color;
    color: $secondary-color;
    margin: $margin-tb $margin-lr;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      box-shadow: $button-shadow;
    }
  }

  .button[disabled],
  .button[disabled]:hover {
    background-color: $disabled-btn-background;
    color: $secondary-color;
    box-shadow: none;
    cursor: default;
  }

  .delete-btn {
    color: $delete-btn-color;
  }

  .delete-btn:hover {
    background-color: $delete-btn-color;
    color: $secondary-color;
  }
}

/* Forms */
@mixin form() {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include input();
}

/* Input Fields */
@mixin input() {
  input {
    font-size: 16px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
  }

  input:focus {
    background-color: $input-focus-background;
    outline: none;
    box-shadow: none;
  }

  .input-untouched {
    @include inputBorder($primary-color);
  }

  .input-valid {
    @include inputBorder($success-color);
  }

  .input-invalid {
    @include inputBorder($error-color);
  }

  .field {
    padding: 5px 0;
    position: relative;
  }

  .fas {
    margin: 0 10px;
    position: absolute;
    top: 25px;
    left: -40px;
  }

  .fa-eye,
  .fa-eye-slash {
    left: calc(100% + 5px);
  }
}

@mixin inputBorder($color) {
  border: 1px solid $primary-color;
  border-left: 0.3em solid $color;
}

/* Error Messages */
@mixin errorMessage($padding) {
  .error {
    color: $error-color;
    font-size: 14px;
    padding: $padding;
    margin: 0;
  }
}

/* Background Image with 80% Opacity */
@mixin background-opacity-80($image) {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)),
  url('../../../public/#{$image}');
}