$primary-color: #4a6b8b;
$secondary-color: lightgray;
$font-title: 'Merienda';
$font-body-text: Verdana;
$button-shadow: 0 0 8px 0 gray;
$card-shadow: 2px 2px 20px 0 gray;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
a {
  font-family: $font-body-text;
  color: $primary-color;
}

*::selection {
  color: $secondary-color;
  background-color: $primary-color;
}

body,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

h1,
h2 {
  font-weight: 400;
}

@mixin title($color, $padding-t, $padding-b) {
  .title {
    font-family: $font-title;
    font-size: 40px;
    color: $color;
    text-align: center;
    padding-top: $padding-t;
    padding-bottom: $padding-b;
  }
}

@mixin buttons($margin-tb, $margin-lr) {
  .buttons {
    display: flex;
    justify-content: center;
  }

  @include button($margin-tb, $margin-lr);
}

@mixin button($margin-tb, $margin-lr) {
  .button {
    text-decoration: none;
    font-family: $font-body-text;
    font-size: 20px;
    background-color: $primary-color;
    color: $secondary-color;
    margin: $margin-tb $margin-lr;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
      box-shadow: $button-shadow;
    }
  }

  .button[disabled],
  .button[disabled]:hover {
    background-color: #4a6a8b8c;
    color: lightgray;
    box-shadow: none;
    cursor: default
  }

  .delete-btn {
    color: rgb(239, 94, 94);
  }

  .delete-btn:hover {
    background-color: rgb(239, 94, 94);
    color: lightgray;
  }
}

@mixin input() {
  input {
    font-size: 16px;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #4a6b8b;
    border-left: 0.3em solid #4a6b8b;
  }

  input:focus {
    border: 2px solid #4a6b8b;
    border-left: 0.3em solid #4a6b8b;
    background-color: #4a6a8b2d;
    outline: none;
    box-shadow: none;
  }

  .input-untouched {
    border-left: 0.3em solid #4a6b8b;
  }

  .input-valid {
    border-left: 0.3em solid green;
  }

  .input-empty,
  .input-too-short,
  .input-no-special-symbol,
  .input-non-latin-letters,
  .input-non-alphanumeric .input-no-match {
    border-left: 0.3em solid red;
  }
}

@mixin errorMessage() {
  .error {
    color: red;
    font-size: 14px;
    padding: 0 0 10px 35px;
    margin: 0;
  }
}


@mixin background-opacity-80($image) {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)),
  url('../../../public/#{$image}');
}