@import '../../../index.scss';

.About {
    width: 60%;
    margin: auto;
    line-height: 1.7;

    p {
        text-align: center;
        padding: 5px 0;
    }    
    
    .back-btn {
        position: absolute;
        color: $primary-color;
        background-color: white;
        top: 155px;
        left: 150px;
        font-size: 40px;
        padding: 0;
    }
    
    .back-btn i:hover {
        border-radius: 50%;
        border: none;
        background-color: $primary-color;
        color: $secondary-color;
        box-shadow: $button-shadow;
    }

    @include title($primary-color, 150px, 50px);
}
