@import '../../../index.scss';

.About {
    line-height: 1.7;
    text-align: center;

    p {
        padding: 10px 0;
    }    
    
    @include page-layout(0, 60%, auto);
    @include back-btn(155px, 150px);
    @include title($primary-color, 150px, 20px);
}
