@import '../../../index.scss';

.ConfirmationModal {
    background-color: $confirmation-modal-background;
    width: 530px;
    height: 200px;
    border-radius: 15px;
    box-shadow: $card-shadow;
    outline: $confirmation-modal-outline;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 1.7;

    .name {
        font-family: $font-title;
        color: $error-color;
    }

    @include position-absolute(calc(100% - 200px), 50%, 1);
    @include button(20px, 10px);
}