@import '../../../index.scss';


.Recipes {
    @include page-layout(74px, 80%, auto);
    @include title($primary-color, 160px, 40px, 40px);
    @include button(60px, 10px);
    @include error-message(20px);
    @include loader();
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    animation: 'appearing' .5s;
    
    .no-recipes {
        @include flex-column();
    }
}

@keyframes appearing {
    from { opacity: 0; }
    to { opacity: 1; }
}