@mixin dropdown-trigger() {
    position: relative;

    .dropdown {
        @include position-absolute(100%, 100%, 2, (-100%, 0));
        display: none;
        width: 160px;
        border: $border-secondary;
        border-radius: $button-border-radius;

        .navigation-list-item {
            @include separator();
            width: 100%;

            a {
                width: 100%;
                border: none;
                border-radius: 0;
                text-align: left;
            }

            &:first-of-type a {
                border-top-left-radius: $button-border-radius;
            }

            &:last-of-type a {
                border-bottom-left-radius: $button-border-radius;
                border-bottom-right-radius: $button-border-radius;
            }
        }
    }

    &:hover .dropdown {
        @include flex-column(flex-start);
    }
}