@mixin page-layout($padding-top, $width, $height) {
    position: relative;
    margin: 0 auto;
    padding-top: $padding-top;
    width: $width;
    height: $height;

    @media (max-width: $screen-md) {
        @if $padding-top > 0 {
            padding-top: calc($padding-top - 80px);
        }
    }
}

@mixin flex-column($align-items, $flex-basis: initial) {
    display: flex;
    flex-direction: column;
    align-items: $align-items;
    flex-basis: $flex-basis;
}

@mixin flex-row($justify-content, $align-items, $wrap: wrap) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin position-absolute($top, $left, $z-index, $translate: (0, 0)) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($translate);
    z-index: $z-index;
}

@mixin position-fixed($position) {
    position: fixed;
    z-index: 1;
    #{$position}: 0;
}

@mixin banner($justify-content, $align-items, $padding-lg, $padding-md: $padding-lg, $padding-sm: $padding-lg) {
    @include flex-row($justify-content, $align-items, nowrap);

    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;

    @include responsive('padding', $padding-lg, $padding-md, $padding-sm);
}

@mixin separator() {
    &:not(:last-child) {
        border-bottom: $border-secondary;
    }
}