/* Layout */
@mixin page-layout($margin-top, $width, $height) {
    position: relative;
    top: 66px;
    margin: $margin-top auto 130px auto;
    width: $width;
    height: $height;

    @media (max-width: 768px) {
        @if $margin-top >0 {
            margin-top: calc($margin-top - 80px);
        }

        margin-bottom: 70px;
    }
}

@mixin flex-column($align-items, $flex-basis: initial) {
    display: flex;
    flex-direction: column;
    align-items: $align-items;
    flex-basis: $flex-basis;
}

@mixin flex-row($justify-content, $align-items, $wrap: wrap) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin position-absolute($top, $left, $z-index, $translate: (0, 0)) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($translate);
    z-index: $z-index;
}

@mixin position-fixed($position) {
    position: fixed;
    z-index: 1;
    #{$position}: 0;
}

@mixin banner($justify-content, $align-items, $padding) {
    @include flex-row($justify-content, $align-items, nowrap);

    width: 100%;
    background-color: $primary-color;
    color: $secondary-color;
    padding: $padding;
    text-align: center;
}


/* Borders */
@mixin border-left($thickness, $color) {
    border-left: $thickness solid $color;
}

@mixin input-border($thickness, $color) {
    border: $border;
    @include border-left($thickness, $color);
}


/* Titles */
@mixin title($color, $padding-t, $padding-b, $font-size) {
    .title {
        font-family: $font-title;
        font-size: $font-size;
        color: $color;
        text-align: center;
        padding-top: $padding-t;
        padding-bottom: $padding-b;

        @media (max-width: 768px) {
            font-size: calc($font-size - 5px);

            @if $padding-t >0 {
                padding-top: calc($padding-t - 20px);
            }
        }

        @media (max-width: 480px) {
            font-size: calc($font-size - 10px);

            @if $padding-t >0 {
                padding-top: calc($padding-t - 40px);
            }
        }
    }
}


/* Buttons */
@mixin buttons($margin-tb, $margin-lr, $font-size: 18px) {
    @include button($margin-tb, $margin-lr, $font-size);

    .buttons {
        @include flex-row(center, stretch, nowrap);
    }

    @media (max-width: 480px) {
        .buttons {
            @include flex-column(stretch);

            .button {
                margin: 5px 15px;
            }
        }
    }
}

@mixin button($margin-tb, $margin-lr, $font-size: 18px) {
    .button {
        display: inline-block;
        text-align: center;
        font-family: $font-body-text;
        font-size: $font-size;
        background-color: $primary-color;
        color: $secondary-color;
        margin: $margin-tb $margin-lr;
        padding: 10px 20px;
        border-radius: $button-border-radius;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
            box-shadow: $button-shadow;
        }

        &:disabled,
        &:disabled:hover {
            background-color: $disabled-btn-background;
            color: $secondary-color;
            box-shadow: none;
            cursor: default;
        }
    }

    .active-btn,
    .active-btn:hover {
        background-color: $active-link-background;
        color: $secondary-color;
        border-bottom: 2px solid $secondary-color;
    }

    .cancel-btn {
        background-color: $cancel-btn-color;
        color: $secondary-color;
    }

    .naked-btn {
        background-color: transparent;
        color: $primary-color;

        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }

        &:disabled,
        &:disabled:hover {
            background-color: transparent;
            color: $disabled-btn-background;
        }
    }

    .naked-cancel-btn {
        background-color: transparent;
        color: $cancel-btn-color;

        &:hover {
            background-color: $cancel-btn-color;
            color: $secondary-color;
        }
    }

    .delete-btn {
        background-color: transparent;
        color: $delete-btn-color;
        position: relative;

        &:hover {
            background-color: $delete-btn-color;
            color: $secondary-color;
        }
    }
}

@mixin back-btn($top, $left) {
    .back-btn {
        @include position-absolute($top, $left, 0, (-50%, -50%));
        font-size: 40px;

        i:hover {
            border-radius: 50%;
            background-color: $primary-color;
            color: $secondary-color;
            box-shadow: $button-shadow;
        }
    }
}


/* Cards */
@mixin card($width, $height, $image-height, $margin) {
    width: $width;
    height: $height;
    box-shadow: $card-shadow;
    border-radius: 15px;
    margin: $margin;
    position: relative;

    .card-image {
        width: 100%;
        height: $image-height;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

@mixin card-banner($padding-lr) {
    .likes {
        @include banner(space-between, center, 12px $padding-lr);
        @include position-absolute(100%, 0, 1, (0, -100%));
        @include buttons(0, 0, 16px);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        font-family: $font-title;
    }
}