@import '../../../index.scss';

.Header {
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;

    .logo {
        letter-spacing: 2px;
        text-decoration: none;
        
        .logo-egg {
            width: 25px;
            padding: 2px;
        }
    }

    .navigation-list-item {
        display: inline-block;
    }

    @include title($secondary-color, 0, 0);
    @include button(0, 5px);
}