@import '../../../sassStyles/';

.Header {
    @include banner(space-between, center, 8px 50px, 8px 50px, 8px 20px);
    @include position-fixed(top);
    @include title($secondary-color, 0, 0, 35px);
    @include button(0, 0);

    .logo {
        letter-spacing: 0.05em;

        .logo-egg {
            width: 25px;
            padding: 2px;
        }
    }

    .navigation ul {
        @include only-screen-lg();
    }

    .navigation-list-item {
        display: inline-block;
    }

    .menu {
        @include dropdown-trigger();

        .fa-bars {
            @include only-screen-sm();
            font-size: 20px;
        }

        .dropdown {
            top: 0px;

            .navigation-list-item:first-of-type a {
                border-top-right-radius: $button-border-radius;
            }
        }
    }

    .account-button {
        @include dropdown-trigger();

        &:hover a {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .dropdown {
            border-top-right-radius: 0;        
        }
    }
}