@import '../../../index.scss';

.Account {
    @include page-layout(115px, 37%, auto);
    @include flex-column();
    @include title($primary-color, 0px, 20px, 40px);
    @include buttons(20px, 10px);
    @include error-message(10px 0);
    @include form();

    background-color: $confirmation-modal-background;
    padding: 50px 0px 30px 0px;
    border-radius: 20px;
    box-shadow: $card-shadow;
    position: relative;

    .cooking-hat {
        width: 100px;
    }

    .change-password-link {
        display: block;
        padding: 17px 5px;
    }

    .section {
        margin: 21px 0;

        .fas {
            width: 20px;
            margin-right: 10px;
        }
    }

    .password {
        width: 95%;
        margin-left: 20px;

        ~ p {
            padding-left: 20px;
        }
    }
}