@import '../../index.scss';


.Home {
    color: $primary-color;
    height: calc(100vh - 74px);
    
    .welcome-message {
        width: 60%;
        margin: auto;
    }

    @include title($primary-color, 110px, 0);
    @include background-opacity-80('spices.jpg');
    @include buttons(17px, 5px);
}