@import '../../index.scss';


.Home {
    color: $primary-color;
    text-align: center;
    height: 100vh;
    padding-top: 50px;
    
    .welcome-message,
    .buttons {
        width: 60%;
        margin: auto;
        padding: 15px 0;
    }
    
    @include main-title($primary-color);
    @include background-opacity-80('spices.jpg');
    @include buttons();
}