@import '../../../index.scss';

.RecipeCard {
    width: 300px;
    height: 330px;
    box-shadow: $card-shadow;
    border-radius: 15px;
    margin: 40px;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    .card-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: 8px;
    }
    
    .card-header {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        
        p {
            margin: 12px 0 0 0;
            font-size: 12px;
        }
    }    

    .likes {
        width: 100%;
        background-color: $primary-color;
        color: $secondary-color;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 12px;
        font-family: $font-title;
        text-align: center;
        position: absolute;
        bottom: 0;
    }
}