@import '../../../sassStyles/';

.RecipeCard {
    @include card(300px, 330px, 200px, 40px 20px);
    @include card-banner(50px);
    @media (max-width: 850px) {
        @include card(300px, 330px, 200px, 40px 10px);
    }

    height: 330px;
    cursor: pointer;
    
    .card-header {
        padding: 8px 15px;
        display: flex;
        justify-content: space-between;
        
        p {
            margin-top: 8px;
            font-size: 12px;
            min-width: 59px;
        }
    }
}