@import '../../../index.scss';

.Recipe {
    @include page-layout(115px, 100%, auto);
    @include title($primary-color, 0, 0, 28px);
    @include buttons(0, 0);
    @include back-btn(185px, 170px);
    @include likes(100px);
    @include error-message(0);

    position: relative;

    .card {
        @include card(50%, 40px auto);

        .card-image {
            height: 200px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 150px 0 150px;
        }

        .card-content {
            padding: 50px 30px 50px 50px;
            font-size: 14px;
            line-height: 1.5;
        }
        
        .card-section {
            display: flex;
            align-items: flex-start;
            padding-bottom: 30px;
            
            .ingredients-section {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                width: 100%;
                padding-left: 15px;
                
                li {
                    padding: 0 20px 5px 5px;
                    width: 49%;
                }
            }            
        }

        .card-content-icon {
            display: inline-block;
            width: 20px;
            margin: 5px 20px 0 0;
        }

        .instructions {
            p {
                margin: 0 0 15px 0;
            }
        }
    }

    .ConfirmationModal {
        @include button(20px, 10px);
    }
}
