@import '../../../sassStyles/';

.Footer {
    @include banner(space-around, center, 0, 0, 0);
    @include position-fixed(bottom);

    p {
        font-size: 14px;
        padding: 22px;

        i {
            font-size: 18px;
            margin: 0 10px;
        }
    }

    @media (max-width: $screen-md) {
        @include flex-column(center);
        position: relative;

        p {
            padding: 15px;
            width: 90%;

            @include separator();
        }
    }
}